
<html>
<head>       
  
</head>
<body>
    
        <p class="sign" align="center">Login</p>
        <form class="form1" action="{{url_for('login')}}" method="POST">
     		<CENTER>
    		<table align="center">
        
        	<tr>
        		<td>UserName</td>
            <td> <input  type="text" align="center"  name="username" required></td>
	        <tr>
	        	<td>Password</td>
	            <td><input type="password" align="center"  name="password" required></td>
	        </tr>

	        <tr>
	            <td><button  type="submit">Login</button></td>
	             <td><buttontype="submit"><a href="/register">register</a></button></td>
	        </tr>
    		</table>
            
        </form>
		 <p>{{ msg }}</p>  
    
</body>
</html>