<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="/register" method="POST"> 
<CENTER>
    <h1><b><u>REGISTER</u></b></h1>
    <table align="center">
        
        <tr><td>UserName</td>
            <td><input type="text" name="username" required="required"></td></tr>
        <tr><td>Pasword</td>
            <td><input type="password" name="pwd" required="required"></td></tr>

        <tr>
            <td ><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
            <P>{{ msg }}</P>
</body>
</html>